

<h1>Welcome, <%=current_user.name%></h1>
<div class="align">


    <% @posts.each do |post|%>

        <%=link_to post.title, post_path(post)%>
        <p><%=image_tag post.img%></p>

    <%end%>

</div>




